-# %h2 Log in
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   .field
-#     = f.label :nickname
-#     %br/
-#     = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"
-# = render "devise/shared/links"

.registrations
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .registrations__title
      ログイン
    .registrations__main
      .registrations__main__field
        = f.label :ニックネーム
        %br/
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
      .registrations__main__field
        = f.label :メールアドレス
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .registrations__main__field
        = f.label :パスワード
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字)
        %br/
        = f.password_field :password, id: "js-password", autocomplete: "new-password"
      .registrations__main__password
        %input#js-passcheck{type: "checkbox"}
        %label{for: "js-passcheck"} パスワードを表示する
      .registrations__main__actions
        = f.submit "ログイン", class: "registrations__main__actions__btn"
