- if put.user_id == current_user.id
  %li.main__center__tab_mains__main__list__data
    .main__center__tab_mains__main__list__data__size
      =link_to put_path(put.id),class: "main__center__tab_mains__main__list__data__size__link" do
        %figure.main__center__tab_mains__main__list__data__size__link__figure
          %figcaption.main__center__tab_mains__main__list__data__size__link__figure__figcaption
            = image_tag put.image.url
            = put.name
          .main__center__tab_mains__main__list__data__size__link__figure__information
            %label.main__center__tab_mains__main__list__data__size__link__figure__information__label
              = put.bestby_date_y
              %span /
              = put.bestby_date_m
              %span /
              = put.bestby_date_d
