.in3
  .in3__main
    = render 'refrigerator'
    .in3__main__header
      - if user_signed_in?
        .in3__main__header__new
          = render 'new'
        .in3__main__header__daytime
          = render 'time'
        .in3__main__header__name
          = render 'name'
        = link_to "TOP", "#", class: "in3__main__header__back-to-top"
    .in3__main__center
      .in3__main__center__main
        .in3__main__center__main__title
          野菜類
        - if @puts_13.present?
          %ul.in3__main__center__main__list
            - @puts_13.each do |put|
              =render "refrigerator_freezer", put: put
        - else
          %ul.in3__main__center__main__list
            商品はありません。
