.main
  .main_header
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "main__header__logout"
    - else 
      = link_to "ログイン", new_user_session_path, class: "main__header__login"
      = link_to "新規登録", new_user_registration_path, class: "main__header__new"
  .main__user
    人間さん家
  .main__center
    .main__center__refrigerator
      冷蔵庫
    .main__center__freezer
      冷凍庫
  .main__contents
    .main__contents__categories
      野菜類
      .main__contents__categories__images
        .main__contents__categories__images__image
          -# 借り入れ写真
          = image_tag "image.jpg", size: "100x100"
        .main__contents__categories__images_image
          -# 借り入れ写真
          = image_tag "image.jpg", size: "100x100"

    .main__contents__categories
      肉類
      .main__contents__categories__images
        .main__contents__categories__images__image
          -# 借り入れ写真
          = image_tag "meat.jpg", size: "100x100"
        .main__contents__categories__images_image
          -# 借り入れ写真
          = image_tag "meat.jpg", size: "100x100"

    .main__contents__categories
      魚類
      .main__contents__categories__images
        .main__contents__categories__images__image
          -# 借り入れ写真
          = image_tag "fish.jpg", size: "100x100"
        .main__contents__categories__images_image
          -# 借り入れ写真
          = image_tag "fish.jpg", size: "100x100"

    .main__contents__categories
      飲料類
      .main__contents__categories__images
        .main__contents__categories__images__image
          -# 借り入れ写真
          = image_tag "coke.jpg", size: "100x100"
        .main__contents__categories__images_image
          -# 借り入れ写真
          = image_tag "coke.jpg", size: "100x100"

    .main__contents__categories
      惣菜類
      .main__contents__categories__images
        .main__contents__categories__images__image
          -# 借り入れ写真
          = image_tag "coke.jpg", size: "100x100"
        .main__contents__categories__images_image
          -# 借り入れ写真
          = image_tag "coke.jpg", size: "100x100"
        
    .main__contents__categories
      調味料
      .main__contents__categories__images
        .main__contents__categories__images__image
          -# 借り入れ写真
          = image_tag "coke.jpg", size: "100x100"
        .main__contents__categories__images_image
          -# 借り入れ写真
          = image_tag "coke.jpg", size: "100x100"