.in
  .in__main
    = render 'refrigerator'
    .in__main__header
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "in__main__header__logout", data: { confirm: 'ログアウトしますか？' }
        .in__main__header__new
          = render 'new'
        .in__main__header__daytime
          = render 'time'
        = link_to "検索する", search_puts_path, class: "in__main__header__btn"

    .in__main__center
      %input#refrigerator{checked: "checked", name: "tab_item", type: "radio"}
      %label.in__main__center__tab_item{for: "refrigerator"}
        冷蔵庫
      %input#freezer{name: "tab_item", type: "radio"}
      %label.in__main__center__tab_item{for: "freezer"}
        冷凍庫
      #refrigerator_main.in__main__center__tab_mains
        .in__main__center__tab_mains__main
          肉類
          %ul.in__main__center__tab_mains__main__list
            - @puts_1.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          野菜類
          %ul.in__main__center__tab_mains__main__list
            - @puts_2.each do |put|
              =render "index", put: put
            
        .in__main__center__tab_mains__main
          海鮮類
          %ul.in__main__center__tab_mains__main__list
            - @puts_3.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          果物類
          %ul.in__main__center__tab_mains__main__list
            - @puts_4.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          パン類
          %ul.in__main__center__tab_mains__main__list
            - @puts_5.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          惣菜類
          %ul.in__main__center__tab_mains__main__list
            - @puts_6.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          乳製品類
          %ul.in__main__center__tab_mains__main__list
            - @puts_7.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          デザート類
          %ul.in__main__center__tab_mains__main__list
            - @puts_8.each do |put|
              =render "index", put: put
        
        .in__main__center__tab_mains__main
          飲料類
          %ul.in__main__center__tab_mains__main__list
            - @puts_9.each do |put|
              =render "index", put: put
        
        .in__main__center__tab_mains__main
          調味料類
          %ul.in__main__center__tab_mains__main__list
            - @puts_10.each do |put|
              =render "index", put: put
        
        .in__main__center__tab_mains__main
          その他
          %ul.in__main__center__tab_mains__main__list
            - @puts_11.each do |put|
              =render "index", put: put

      #freezer_box.in__main__center__tab_mains
        .in__main__center__tab_mains__main
          肉類
          %ul.in__main__center__tab_mains__main__list
            - @puts_12.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          野菜類
          %ul.in__main__center__tab_mains__main__list
            - @puts_13.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          海鮮類
          %ul.in__main__center__tab_mains__main__list
            - @puts_14.each do |put|
              =render "index", put: put
            
        .in__main__center__tab_mains__main
          果物類
          %ul.in__main__center__tab_mains__main__list
            - @puts_15.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          パン類
          %ul.in__main__center__tab_mains__main__list
            - @puts_16.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          冷凍食品類
          %ul.in__main__center__tab_mains__main__list
            - @puts_17.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          乳製品類
          %ul.in__main__center__tab_mains__main__list
            - @puts_18.each do |put|
              =render "index", put: put

        .in__main__center__tab_mains__main
          デザート類
          %ul.in__main__center__tab_mains__main__list
            - @puts_19.each do |put|
              =render "index", put: put
        
        .in__main__center__tab_mains__main
          飲料類
          %ul.in__main__center__tab_mains__main__list
            - @puts_20.each do |put|
              =render "index", put: put
        
        .in__main__center__tab_mains__main
          調味料類
          %ul.in__main__center__tab_mains__main__list
            - @puts_21.each do |put|
              =render "index", put: put
        
        .in__main__center__tab_mains__main
          その他
          %ul.in__main__center__tab_mains__main__list
            - @puts_22.each do |put|
              =render "index", put: put

      