.exhibitcontent
  = form_with model: @put,class:"exhibitcontent_main", local: true do |f|
    .exhibitcontent__main__title
      情報を入力してください
    
    .exhibitcontent__main__first
      .exhibitcontent__main__first__question
        画像
      .exhibitcontent__main__first__required
        必須
      .exhibitcontent__main__first__answer
        #image-box-1
          .item-num-0#image-box__container
            .input-area
              = f.file_field :image, type: 'file', value:"", id:"img-file",style:"display:none"
              %label{for: "img-file"}
                こちらをクリックしてください

    
    .exhibitcontent__main__second
      .exhibitcontent__main__second__question
        賞味期限/消費期限
      .exhibitcontent__main__second__required
        任意
      .exhibitcontent__main__second__answer
        = f.select :bestby_date_y, [["--"],["2023年"],["2022年"],["2021年"],["2020年"],["2019年"]], {}, {class: "exhibitcontent__main__second__answer--1"}
        = f.select :bestby_date_m, [["--"],["1月"],["2月"],["3月"],["4月"],["5月"],["6月"],["7月"],["8月"],["9月"],["10月"],["11月"],["12月"]], {}, {class: "exhibitcontent__main__second__answer--2"}
        = f.select :bestby_date_d, [["--"],["1日"],["2日"],["3日"],["4日"],["5日"],["6日"],["7日"],["8日"],["9日"],["10日"],["11日"],["12日"],["13日"],["14日"],["15日"],["16日"],["17日"],["18日"],["19日"],["20日"],["21日"],["22日"],["23日"],["24日"],["25日"],["26日"],["27日"],["28日"],["29日"],["30日"],["31日"]], {}, {class: "exhibitcontent__main__second__answer--3"}

    .exhibitcontent__main__third
      .exhibitcontent__main__third__question
        カテゴリー
      .exhibitcontent__main__third__required
        必須
      .exhibitcontent__main__third__answer
        = f.select :category, [["--", 0],["肉類", 1],["野菜類", 2],["海鮮類",3],["飲料水類",4],["調味料類",5],["惣菜類",6],["冷蔵庫に入れるその他",7], ["冷凍食品類", 8], ["アイス類", 9], ["氷類", 10], ["冷凍庫に入れるその他", 11]], {}, {class: "exhibitcontent__main__third__answer--1"}


    .exhibitcontent__main__forth
      .exhibitcontent__main__forth__question
        個数
      .exhibitcontent__main__forth__required
        必須
      .exhibitcontent__main__forth__answer
        = f.select :count, [["--"],["1個"],["2個"],["3個"],["4個"],["5個"],["6個"],["7個"],["8個"],["9個"],["10個"],["11個"],["12個"],["13個"],["14個"],["15個"],["16個"],["17個"],["18個"],["19個"],["20個"],["21個"],["22個"],["23個"],["24個"],["25個"],["26個"],["27個"],["28個"],["29個"],["30個"],["31個"]], {}, {class: "exhibitcontent__main__forth__answer--1"}
    
    .exhibitcontent__main__fifth
      .exhibitcontent__main__fifth__question
        名前
      .exhibitcontent__main__fifth__required
        必須
      .exhibitcontent__main__fifth__answer
        = f.text_field :name, placeholder:"名前を書いてください"
    
    .exhibitcontent__main__sixth
      .exhibitcontent__main__sixth__question
        備考
      .exhibitcontent__main__sixth__required
        任意
      .exhibitcontent__main__sixth__answer
        = f.text_field :memo, placeholder:"メモを書いてください"
    
    .exhibitcontent__main__seventh
      = f.submit '保存する', class: 'exhibitcontent_main__sixth--submit'
      = link_to "もどる","#",class: 'exhibitcontent_main__sixth--back'
    