.in1
  .in1__main
    = render 'refrigerator'
    .in1__main__header
      - if user_signed_in?
        .in1__main__header__new
          = render 'new'
        .in1__main__header__daytime
          = render 'time'
        = form_with(url: search_puts_path, local: true, method: :get, class: "search-form") do |form|
          = form.text_field :keyword, placeholder: "検索する 例：豚肉 ：2", class: "search-input"
          = form.submit "検索", class: "search-btn"

    .in1__main__center
      %ul.in1__main__center__search
        #result.in1__main__center__search__main
          - @puts.each do |put|
            = render partial: "search", locals: { put: put }
