.show-main
  .show-main__logo
    = render 'refrigerator'
  .show-main__title
    詳細内容
  .show-main__container
    .show-main__container__outside
      .show-main__container__outside__image
        = image_tag @put.image.url, size: "300x300", class: "show-main__container__outside__image__size"
      .show-main__container__outside__data
        .show-main__container__outside__data__category
          ＜ 種類 ＞
          .show-main__container__outside__data__category--content
            = @put.category
        .show-main__container__outside__data__name
          ＜名前＞
          .show-main__container__outside__data__name--content
            = @put.name
        .show-main__container__outside__data__count
          ＜ 残り ＞
          .show-main__container__outside__data__count--content
            - if @put.count.present?
              = @put.count
            - else
              記載されていません
        .show-main__container__outside__data__bestby_date
          ＜ 消費期限 ＞
          .show-main__container__outside__data__bestby_date--content
            = @put.bestby_date_y
            %span.txtred<> /
            = @put.bestby_date_m
            %span.txtred<> /
            = @put.bestby_date_d
            までに食べてください
        .show-main__container__outside__data__memo
          ＜ メモ ＞
          .show-main__container__outside__data__memo--content
            - if @put.memo.present?
              = @put.memo
            - else
              記載されていません
    .show-main__container__btn
      .show-main__container__btn__edit
        = link_to "変更する",edit_put_path(@put),class:"show-main__container__btn__edit__submit"
      .show-main__container__btn__destroy
        = link_to "削除する",put_path(@put), method: :delete ,class:"show-main__container__btn__destroy__submit", data: { confirm: '削除しますか？' }
      